
.gradle/
build/


.idea/
*.iml
*.iws
out/
jaxrs-service/src/test
spring-service/src/test
jaxrs-service/src/main/java/com/example/service/GlobalExceptionMapper.java



.DS_Store
Thumbs.db


*.log
*.tar.gz

dist/


