services:
  consul:
    image: hashicorp/consul:1.18
    container_name: consul-server
    command: agent -server -bootstrap-expect=1 -ui -client=0.0.0.0
    ports:
      - "8500:8500"

  haproxy:
    build: .
    container_name: haproxy-balancer
    restart: unless-stopped
    ports:
      - "8082:8080"
      - "8445:8443"
    volumes:
      - ./haproxy.tmpl:/etc/consul-template/haproxy.tmpl:ro
      - ./certs:/etc/haproxy/certs:ro
      - haproxy-config:/haproxy-config
    command: >
      consul-template
      -consul-addr=http://consul:8500
      -dedup
      -wait=5s:30s
      -template=/etc/consul-template/haproxy.tmpl:/haproxy-config/haproxy.cfg
      -exec="haproxy -W -db -f /haproxy-config/haproxy.cfg"
      -exec-reload-signal=SIGUSR2
      -log-level=info
    depends_on:
      - consul

volumes:
  haproxy-config: