version: '3.8'

services:
  haproxy:
    image: haproxy:latest
    container_name: haproxy-balancer
    restart: always
    ports:
      - "8082:8080"
      - "8445:8443"
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - ./certs:/usr/local/etc/haproxy/certs:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
